@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]:focus~.input-text,
input[type="password"]:focus~.input-text,
input[type="email"]:focus~.input-text,
input[type="password"]:not(:placeholder-shown)~.input-text,
input[type="email"]:not(:placeholder-shown)~.input-text,
input[type="text"]:not(:placeholder-shown)~.input-text {
    @apply text-[#454545] transform -translate-y-[22px] -translate-x-2 scale-[0.85];
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-carousel .slick-dots-bottom {
    bottom: 0px;
    left: 8px;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-carousel .slick-dots {
    justify-content: start;
}

.ant-carousel .slick-dots li.slick-active button {
    background: #25A0DA;
}


@layer base {
    .cloud10 {
        animation: float-clouds 10s linear infinite;
    }

    .cloud20 {
        animation: float-clouds 20s linear infinite;
    }

    .cloud25 {
        animation: float-clouds 25s linear infinite;
    }

    @keyframes float-clouds {
        from {
            transform: translateX(1000px);
        }

        to {
            transform: translateX(-1000px);
        }
    }

}